# See https://help.github.com/articles/ignoring-files for more about ignoring files.

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/
/spec/reports/
/spec/examples.txt
/test/*
/test/tmp/
/test/version_tmp/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/config/database.yml
/config/secrets.yml
/config/initializers/sentry.rb
.byebug_history
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/vendor/bundle
/public/system/
/lib/bundler/man/
.rvmrc
.env
app/assets/stylesheets/scaffolds.scss
