<div class="form-group">
  <!-- < %= form.label :medicament_id,"الدواء" %> -->
  <!-- < %= form.select(:medicament_id, options_for_select(medicaments_select, visit.medicament_id), {include_blank: true}, {class: 'form-control select2'}) %> -->
  <%= form.collection_select :medicament_id, VisitType.all, :id, :name, { :include_blank => true }, { :class=> "form-control" } %>
</div>
