<div class="page-header">
  <h1><small>تعديل</small> زيارة</h1>
</div>

<%= render 'form', visit: @visit %>

<br />
<%= link_to 'عرض', @visit, class: 'btn btn-default pull-left' %>
<%= link_to 'عودة', visits_path, class: 'btn btn-success pull-left' %>
