<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">عرض الزيارات</h3>
  </div>
  <div class="box-body">
    <%= link_to 'إضافة زيارة جديدة', new_visit_path, class: 'btn btn-primary' %>
    <br>
    <br>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">مسلسل</th>
            <th class="text-center">التاريخ</th>
            <th class="text-center">اسم الحالة</th>
            <th class="text-center">نوع ىالكشف</th>
            <th class="text-center">الدور</th>
            <th class="text-center">المستخدم</th>
          </tr>
        </thead>
        <tbody class="table_body_data">
          <%= render partial: 'partial_body_data', collection: @visits, as: :visit %>
        </tbody>
      </table>
    </div>

        <div class="text-center" id="paginator">
        <%= link_to_next_page @visits, t('text.load_more'), remote: true, id: 'load_more', class: 'btn btn-default' %>
        </div>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <%= link_to 'إضافة زيارة جديدة', new_visit_path, class: 'btn btn-primary' %>
  </div>
</div>
