<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">تعديل بيانات حالة</h3>
  </div>
  <div class="box-body">
    <%= render 'form', patient: @patient %>

  </div>
  <div class="box-footer">
    <%= link_to 'عرض', @patient, class: 'btn btn-default pull-left' %>
    <%= link_to 'عودة', patients_path, class: 'btn btn-success pull-left' %>
  </div>
</div>
