<div class="page-header">
  <h1><small>تعديل</small> حالة</h1>
</div>

<%= render 'form', patient: @patient %>


<br />
<%= link_to 'عرض', @patient, class: 'btn btn-default pull-left' %>
<%= link_to 'عودة', patients_path, class: 'btn btn-success pull-left' %>
