<div class="page-header">
  <h1><small>تعديل</small> نوع الكشف</h1>
</div>

<%= render 'form', visit_type: @visit_type %>

<br />
<%= link_to 'عودة', visit_types_path, class: 'btn btn-success pull-left' %>
