@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "styles";

@import url("https://fonts.googleapis.com/earlyaccess/notokufiarabic.css");
@import url("https://fonts.googleapis.com/earlyaccess/notonaskharabic.css");

body{
  font-family: 'Noto Kufi Arabic', sans-serif !important;
}
.dropdown-menu{
  right: unset !important;
}

.badge a{
  color: #FFF !important;
}
.panel-title{
  float:right !important;
}
