@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "styles";
@import "skin-purple";
@import "select2";

@import url("https://fonts.googleapis.com/earlyaccess/notokufiarabic.css");
@import url("https://fonts.googleapis.com/earlyaccess/notonaskharabic.css");

body {
  font-family: 'Noto Kufi Arabic', sans-serif !important;
}

.dropdown-menu {
  right: unset !important;
}

.badge a {
  color: #FFF !important;
}

.panel-title {
  float: right !important;
}
#diagnoses, #medicaments{
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 3px;
  width: 49%;

}
h5{
  font-weight: 600px;
}
