<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">إضافة منطقة جديدة</h3>
  </div>
  <div class="box-body">
    <%= render 'form', region: @region %>
  </div>
  <div class="box-footer">
    <%= link_to 'عودة', regions_path, class: 'btn btn-success pull-left' %>
  </div>
</div>
