<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">إضافة دواء جديد</h3>
  </div>
  <div class="box-body">
    <%= render 'form', medicament: @medicament %>
  </div>
  <div class="box-footer">
    <%= link_to 'عودة', medicaments_path, class: 'btn btn-success pull-left' %>
  </div>
</div>
