<div class="box" dir="rtl">
  <div class="box-header with-border">
    <div class="box-title">عرض الأطفال حسب المنطقة</div>

  </div>
  <div class="content-box-large box-with-header">
    <%= column_chart reports_kids_by_region_path %>
  </div>
</div>

<div class="box" dir="rtl">
  <div class="box-header with-border">
    <div class="box-title">عرض الأطفال حسب العمر</div>

  </div>
  <div class="content-box-large box-with-header">
    <%= column_chart reports_kids_by_birthdate_path %>

  </div>
</div>

<div class="box" dir="rtl">
  <div class="box-header with-border">
    <div class="box-title">نسبة الذكور للإناث</div>

  </div>
  <div class="content-box-large box-with-header">
    <%= pie_chart reports_gender_percentage_path %>
  </div>
</div>
