<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="row">
    <section class="content-header">
      <%= render "layouts/flash" %>
      <%= yield :flash_message %>
    </section>
  </div>

  <!-- Main content -->
  <section class="content">
    <%= yield %>
  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->
